<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<div class = "wrapper">
    <form id = "updateMemberForm"  onsubmit="return false">
        <div><input id="email" type="text" name="email" placeholder="email" th:value="" readonly/></div>
        <div><input id="password" type="password" name="password" placeholder="password" /></div>
        <div><input id="name" type="text" name="name" placeholder="name" th:value="" readonly/></div>
        <div><input id="nickname" type="text" name="nickname" placeholder="nickname" th:value="" /></div>
        <div><input type="submit" onclick="joinMember()">회원가입</div>
    </form>
</div>
</body>
</html>